header {
  padding: 1em;
  display: flex;
  background: #eee;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;

  & .logo {
    font-size: 1.5em;
    font-weight: bold;
  }

  & ul {
    list-style: none;

    & li {
      display: inline-block;
    }
  }
}
